{% extends 'mobile/layout.html' %}

{% block title %}الرسوم والتكاليف - نظام إدارة الموظفين{% endblock %}

{% block header_title %}الرسوم والتكاليف{% endblock %}

{% block header_actions %}
<button class="mobile-menu-button" aria-label="إضافة" onclick="location.href='{{ url_for('mobile.add_fee') }}'">
    <i class="fas fa-plus"></i>
</button>
{% endblock %}

{% block content %}
{% include 'mobile/partials/fees/_content.html' %}
{% endblock %}

{% block scripts %}
{% include 'mobile/partials/fees/_scripts.html' %}
{% endblock %}