{# Modal for viewing license image in full size #}
<div class="modal fade" id="licenseModal" tabindex="-1" aria-labelledby="licenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="licenseModalLabel">صورة رخصة السيارة</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% if vehicle.license_image %}
                <img src="{{ url_for('static', filename='uploads/vehicles/' + vehicle.license_image) }}" 
                     class="img-fluid" 
                     alt="صورة رخصة السيارة">
                {% endif %}
            </div>
        </div>
    </div>
</div>
